<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.flut_fluss">

    <application
        android:allowBackup="true"
        android:icon="@drawable/flut_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flut_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".view.activity.account_list.my_account.send_money_password.SendCheckPasswordActivity"></activity>
        <activity android:name=".view.activity.account_list.my_account.send_money_finger.SendCheckFingerPrintActivity" />
        <activity android:name=".view.activity.find.FindPasswordActivity" />
        <activity android:name=".view.activity.find.FindIdActivity" />
        <activity android:name=".view.activity.my_page.MyPageActivity" />
        <activity android:name=".view.activity.lookup.account.ShowMyAccountActivity" />
        <activity android:name=".view.activity.lookup.account.remittance.LookupSendMoneyActivity" />
        <activity android:name=".view.activity.account_list.friend_account.SendFriendAccountActivity" />
        <activity android:name=".view.activity.account_list.my_account.SendMyCardActivity" />
        <activity android:name=".view.activity.account_list.my_account.SendMyAccountActivity" />
        <activity android:name=".view.activity.inner_timeline.EtcActivity" />
        <activity android:name=".view.activity.inner_timeline.ClothsActivity" />
        <activity android:name=".view.activity.inner_timeline.FoodActivity" />
        <activity android:name=".view.activity.inner_timeline.TransferActivity" />
        <activity android:name=".view.activity.lookup.account.ShowCardActivity" />
        <activity android:name=".view.activity.lookup.ShowAccountActivity" />
        <activity android:name=".view.activity.remittance.DutchPayActivity" />
        <activity android:name=".view.activity.remittance.SendMoneyActivity" />
        <activity android:name=".view.activity.login.FingerPrintActivity" />
        <activity android:name=".view.activity.singup.SignUpActivity" />
        <activity android:name=".view.animation.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.login.LoginActivity" />
        <activity android:name=".view.activity.main.MainActivity" />
    </application>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>