<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flut_fluss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.activity.lookup.ShowAccountListActivity"></activity>
        <activity android:name=".view.activity.lookup.account.remittance.LookupSendMoneyActivity" />
        <activity android:name=".view.activity.account_list.friend_account.SendFriendAccountActivity" />
        <activity android:name=".view.activity.account_list.my_account.SendMyCardActivity" />
        <activity android:name=".view.activity.account_list.my_account.SendMyAccountActivity" />
        <activity android:name=".view.activity.inner_timline.EtcActivity" />
        <activity android:name=".view.activity.inner_timline.ClothsActivity" />
        <activity android:name=".view.activity.inner_timline.FoodActivity" />
        <activity android:name=".view.activity.inner_timline.TransferActivity" />
        <activity android:name=".view.activity.lookup.account.ShowCardActivity" />
        <activity android:name=".view.activity.lookup.account.ShowAccountActivity" />
        <activity android:name=".view.activity.remittance.DutchPayActivity" />
        <activity android:name=".view.activity.remittance.SendMoneyActivity" />
        <activity android:name=".view.activity.login.FingerPrintActivity" />
        <activity android:name=".view.register.RegisterActivity" />
        <activity android:name=".view.animation.SplashActivity" />
        <activity android:name=".view.activity.login.LoginActivity" />
        <activity android:name=".view.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

</manifest>